body {
    margin:0;
    padding:0;
}

.inline {
    display:flex; /*makes other elements inside the div display inline*/
}

h1, h2, h3, h4, h5, h6 {
    margin-top:0;
    padding:0;
    /*can make text elements line up center instead of top*/
    /*line-height: 0;*/
}

.cbox {
    margin:auto;
    width:200px;
    height:200px;
    background-color: black;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 20px;
    z-index:2;
}

.cboxt {
    text-align: center;
    color:red;
    margin:auto;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.flushed {
    opacity:25%;
    width:350px;
    height:350px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:1;
}

.flexboxpractice {
    display:flex;
    align-items:flex-end;
}